/*
> > > Tripster Color Palette < < <

Light Tan:		#E3D096
Orange:			#FD9301
Yellow:			#FFC300
Light Yellow:   #ffd85b
Denim: 			#53929B
Dark Blue:		#2E2A39
*/
html, body {
	font-family: arial;
    margin: 0;
	height: 100%;
}

.home-big-image{
	background: url(../Images/road_img2.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: 0px -200px;
	position: relative;
	height: 800px;
	padding: 0px;
	width: 100%;
	z-index: 1;
	box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.25);
}

@media only screen and (max-width: 1500px) {
	.home-big-image{
		background-position: 0px 0px;
	}
}

.haze{
	background: linear-gradient(rgba(255, 255, 255, 0.1), 50%, rgba(0, 0, 0, 0.6));
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -10;
}

.page-wrapper.container-fluid{
	width: 100%;
	padding: 0px;
	position: relative;
	display: inline-block;
	margin-bottom: 0px;
	margin-top: 60px;
}

.main-content.container-fluid{
	position: relative;
	padding: 0px;
	display: block;
	height: 100%;
	margin: auto;
	width: 100%;
	z-index: 1;
}

.generate-results-section{
	display: block;
	margin: auto;
	position: relative;
	padding: 50px 200px;
}

#map-container{
	display: block;
	box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.1);
	margin: auto;
	padding: 20px;
	height: 450px;
	width: 80%;
}

#map{
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.routes-container{
	display: block;
	margin: auto;
	position: relative;
}

.route-option{
	display: block;
	margin-right: 10%;
	margin-left: auto;
	margin-top: 20px;
	text-align: center;
	border-radius: 5px;
	position: relative;
	box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.25);
	background-color: rgba(255, 216, 91, 1);
	width: 50%;
	height: 100px;
}

.route-option h1{
	line-height: 100px;
	font-family: 'Pacifico', cursive;
	color: white;
	margin: 0px;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

.headcenter{
	text-align: center;
	margin: auto;
	padding-top: 100px;
	font-family: 'Pacifico', cursive;
	font-size: 12vmin;
	padding-right: 15px;
	text-shadow: 0px 5px 5px rgba(0,0,0,0.2);
	color: #ffd85b;
}

.headcenter1{
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #fff;
}

.wrap{
	margin-top: 10vmax;
}
input:focus {
	outline: none;
}
.search{
	width: 60%;
	padding: 30px;
	margin: auto;
	text-align: center;
}

.searchterm{
	width: 70%;
	margin: auto;
	margin-left: 45px;
	border: 3px solid  #ffd85b;
	padding: 11px;
	color: #FD9301;
	font-size:17px;
	font-weight: bold;
	outline: none;
	border-radius: 20px;
	z-index: 0;
	transition: all ease 0.3s;
	box-shadow: 2px 5px 0px #a78e3c;
    margin-right: 2px;
	margin-bottom: 5px;
}
.searchterm:focus{
	color: #07A6B9;
	border:3px solid #36D0E3;
	box-shadow: 2px 5px 0px #07A6B9;
}

.searchbtn{
	display: inline-block;
	width: 60px;
	height: 100%;
	background-color: #ffd85b;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
	border-style: none;
    color: white;
    padding: 13px;
    font-weight: 600;
    border-radius: 30px;
    word-wrap: break-word;
    box-shadow: 2px 5px 0px #a78e3c;
    margin-right: 2px;
	margin-bottom: 5px;
	outline: none;
}
.searchbtn:active {
	outline: none;
	box-shadow: 0px 0px 0px #a78e3c;
	margin-left: 2px;
	margin-bottom: 5px;
}

.browse-container.container-fluid.justify-content-center{
	margin: 0px;
	padding: 0px;
	display: block;
	/*Likely this will not be a specific height, the content will affect the height so remove this when adding content to this section of the page*/
	height: auto;
	width: 100%;
	font-family: 'Pacifico', cursive;
	text-align: center;
	background-color: white;
	position: relative;
	color: #FFD85B;
}

.browse-text-area{
	padding: 60px;
	padding-top: 90px;
	padding-bottom: 90px;
	color: #FFD85B;
	height: auto;
	width: 100%;
	margin-left: 0px;
}

.browse-text{
	font-size: 30px;
	padding: 20px;
	text-align: center;
	border-radius: 20px;
	border-width: 10px;
	border-color: #FFD85B;
	border-style: solid;
	box-shadow: 2px 8px 10px 0px rgba(0,0,0,0.3);
	margin-bottom: 20px;
}

.browse-text p{
	margin-bottom: 0px;
	padding: 5px;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.1);
}

.browse-button{
	height: auto;
	align-items: center;
}

.browse-input-button{
    border-style: none;
    background-color: #36D0E3;
    color: white;
    padding: 20px;
    font-weight: 500;
	font-size: 3vmax;
    border-radius: 40px;
    box-shadow: 2px 5px 0px #07A6B9;
	margin-bottom: 5px;
	margin-left: 20%;
}

.browse-input-button:active{
	box-shadow: 0px 0px 0px green;
	margin-right: ;
	margin-bottom: 0px;
}

.footer{
	height: 100px;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: #07A6B9;
}

.footer p{
	margin: auto;
	color: white;
}
/* Route generation search bar */
#right-panel {
	margin: 20px;
	border-width: 2px;
	width: 20%;
	height: 400px;
	float: left;
	text-align: left;
	padding-top: 0;
  }

.search a {
	color: white;
}

.searchBrowse {
	width: 70%;
	margin: auto;
	margin-left: 45px;
	border: 3px solid  #ffd85b;
	padding: 11px;
	color: #FD9301;
	font-size:17px;
	font-weight: bold;
	outline: none;
	border-radius: 20px;
	z-index: 0;
	transition: all ease 0.3s;
	box-shadow: 2px 5px 0px #a78e3c;
    margin-right: 2px;
	margin-bottom: 5px;
}

.searchBrowse:focus{
	color: #07A6B9;
	border:3px solid #36D0E3;
	box-shadow: 2px 5px 0px #07A6B9;
}

.footer-container{
    margin: 0px;
    padding: 0px;
}

.footer-margin{
    background-color: #07A6B9;
    color: white;
    height: 80px;
    margin: 0px;
    z-index: 10;
}

.footer-margin p{
    margin: 0px;
}

/* Styles for smaller screens/mobile */
@media only screen and (max-width: 600px) {
	.wrap{
		margin-top: 0px;
	}

	.home-big-image{
		height: 700px;
	}

	.browse-text{
		padding: 5px;
	}

	.browse-text p{
		padding: 0px;
	}

	.browse-text-area{
		padding: 20px;
	}

	.browse-container.container-fluid.justify-content-center{
		z-index: 10;
	}

	.browse-input-button{
		font-size: 20px;
		margin: auto;
		width: 100%;
	}

	.searchterm{
		margin: 0px;
		margin-top: 10px;
		width: 100%;
	}

	.search{
		padding: 30px;
		width: 100%;
	}

	.searchbtn{
		margin-top: 20px;
		width: 100%;
	}
}
