/*
> > > Tripster Color Palette < < <

Light Tan:		#E3D096
Orange:			#FD9301
Yellow:			#FFC300
Light Yellow:   #ffd85b
Denim: 			#53929B
Dark Blue:		#2E2A39
*/

.{
	margin: 0px;
	padding: 0px;
}



html, body {
	font-family: arial;
    margin: 0;
	height: 100%;
}

.home-big-image{
	background: url(../Images/road_img2.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: 0px -200px;
	position: relative;
	height: 800px;
	width: 100%;
	z-index: 1;
	box-shadow: 0px -18px 80px 10px rgba(0,0,0,0.6);
}

@media only screen and (max-width: 1500px) {
	.home-big-image{
		background-position: 0px 0px;
	}
}

.haze{
	background: linear-gradient(rgba(255, 255, 255, 0.1), 50%, rgba(0, 0, 0, 0.6));
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -10;
}

.page-wrapper{
	width: 100%;
	position: relative;
	display: inline-block;
	margin-bottom: 0px;
	margin-top: 60px;
}

.main-content{
	position: relative;
	display: block;
	padding-bottom: 150px;
	margin: auto;
	width: 100%;
	z-index: 1;
}

.generate-results-section{
	display: block;
	margin: auto;
	position: relative;
	padding: 50px 200px;
}

#map-container{
	display: block;
	box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.1);
	margin: auto;
	padding: 20px;
	height: 450px;
	width: 80%;
}

#map{
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.routes-container{
	display: block;
	margin: auto;
	position: relative;
}

.route-option{
	display: block;
	margin-right: 10%;
	margin-left: auto;
	margin-top: 20px;
	text-align: center;
	border-radius: 5px;
	position: relative;
	box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.25);
	background-color: rgba(255, 216, 91, 1);
	width: 50%;
	height: 100px;
}

.route-option h1{
	line-height: 100px;
	font-family: 'Pacifico', cursive;
	color: white;
	margin: 0px;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

.headcenter{
	text-align: center;
	margin: auto;
	padding-top: 100px;
	font-family: 'Pacifico', cursive;
	font-size: 12vmin;
	padding-right: 15px;
	text-shadow: 0px 5px 5px rgba(0,0,0,0.2);
	color: #ffd85b;
}

.headcenter1{
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #fff;
}

.wrap{
	margin-top: 10vmax;
}

.search{
	width: 60%;
	padding: 30px;
	margin: auto;
	text-align: center;
}

.searchterm{
	width: 70%;
	margin: auto;
	margin-left: 45px;
	border: 3px solid  #ffd85b;
	padding: 11px;
	font-size:17px;
	outline: none;
	border-radius: 20px;
	z-index: 0;
}

.searchterm:focus{
	color: #FD9301;
	border:3px solid #fff;
}

.searchbtn{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-left: 10px;
	padding: 5px;
	border-style: none;
	border-radius: 20px;
	background-color: #ffd85b;
	text-align: center;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

#browse-container{
	margin: 0px;
	display: block;

	/*Likely this will not be a specific height, the content will affect the height so remove this when adding content to this section of the page*/
	height: 200px;
	width: 100%;

	text-align: center;
	background-color: white;
	position: relative;
}

#browse-container p{
	position: relative;
}

.footer{
	height: 100px;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: #53929B;
}

.footer p{
	margin: auto;
	color: white;
}
/* Route generation search bar */
#right-panel {
	margin: 20px;
	border-width: 2px;
	width: 20%;
	height: 400px;
	float: left;
	text-align: left;
	padding-top: 0;
  }