.{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

html, body{
	font-family: arial;
	margin-top: 60px;
    padding: 0px;
	padding-right: 20px;
}

#loginstuff {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

h2 {
  font-family: 'Pacifico', cursive;

}

h3{
  font-family: 'Pacifico', cursive;
  
}
